@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom Styles */
* { 
  box-sizing: border-box; 
}

/* Remove tap highlight on links and buttons */
a, button {
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
}

body {
  background:#0f172a;
  color: #d1d5db;
  font-family: "Inter", sans-serif;
}

/* Typography */
h1 { 
  font-family: "Fraunces", serif;
  font-weight: 600;
  font-size: 1.75rem;
  /* font-style: italic; */
}

h2 { 
  font-family: "Fraunces", serif;
  max-width: 30rem; 
  font-size: 1.45rem;
  margin-bottom: 1rem;
}

h3 { 
  font-family: "Fraunces", serif;
  color: #9C4A57;
  font-size: 1.5rem; 
  margin-top: 1rem;
}

h5 { 
  font-size: 1.25rem;
  color: #9C4A57;
  text-transform: uppercase; 
  margin-bottom: 1rem;
}

p { 
  font-size: 1rem;
  color: #d1d5db;
}

.intro-text {
  display: none;
}

/* Layout */
.main-content { 
  padding: 0 1rem; 
}
.section { 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  text-align: center; 
  padding-top: 10rem; 
}

.img-container {
  position: fixed;
  top: 0; 
  left: 0; 
  width: 100vw;
  display: flex; 
  justify-content: end; 
  align-items: center;
  padding: 1rem 2rem;
  background: #0f172a;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  z-index: 10000;
}

.logo img { 
  z-index: 9999;
  height: 50px;
}

#headshot-img { 
  height: 300px; 
}

.about-text { 
  max-width: 25rem; 
  text-align: center; 
}

#who-am-i { 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  margin-top: -5rem;
  gap: 0.5rem; 
}

/* Social Icons */
.social-icons {
  display: flex; 
  flex-direction: column;
  padding: 0.3rem 0.6rem;
  border-radius: 8px;
  transition: all 0.4s ease;
}

.social-icons a {
  color: #d1d5db; 
  font-size: 0.8rem;
  padding: 5px 8px;
  transition: all 0.5s ease;
}

.menu-line {
  width: 25px; 
  height: 3px; 
  margin: 4px auto;
  background-color: #d1d5db; 
  border-radius: 100px;
  transition: all 0.5s ease;
}

.menu-line:nth-child(2) { 
  width: 12px; 
}

.close .menu-line:nth-child(1) { 
  transform: rotate(45deg) translate(1px, 10px); 
}

.close .menu-line:nth-child(2) { 
  opacity: 0; 
}

.close .menu-line:nth-child(3) { 
  transform: rotate(-45deg) translate(1px, -10px); 
}

/* Navigation */
nav {
  background: radial-gradient(circle at top, #0f172a 0%, #334155 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 100vh;
}

.nav-list {
  display: flex; 
  justify-content: center;
  align-items: end;
  gap: 2rem;
  transform: translate3d(0, -100%, 0);
}

.nav-list-sm {
  position: fixed; 
  top: 0; 
  width: 100vw; 
  visibility: hidden;
  padding: 5rem 1rem 0 1rem; 
  z-index: 999;
  opacity: 0.90;
  transition: all 0.5s ease;
}

.nav-list-sm.open {
  visibility: visible;
  background: #334155;
  border-radius: 1.2rem;
}

.nav-list-lg { 
  display: none; 
}

.nav-list.open { 
  transform: translate3d(0, 0, 0); 
}

.nav-link {
  display: flex;
  align-items: end;
  text-decoration: none; 
  color: #d1d5db;
  font-size: 1rem; 
  padding: 2.3rem 0 1rem 0;
  border-radius: 50px;
  transition: all 0.4s ease-in-out;
}

  #header-img {
    display: none;
  }

/* Hero Section */
.hero-home {
  display: flex; 
  flex-direction: row-reverse; 
  justify-content: center; 
  align-items: center; 
}

#about-img { 
  background: url(img/kevon-coffee-shop.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 50vh; 
  width: 100vw;
  margin-top: 5rem;
}

/* Skills Section */
.skills-cards {
  display: flex; 
  flex-direction: column; 
  gap: 2rem;
  padding: 2rem;

}

.card {
  padding: 2rem; 
  width: 15rem;
  border-radius: 10px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  text-align: center; 
  transition: all 0.4s ease-in-out;
}

.card h5 { 
  margin: 0.5rem 0; 
}

.tailwindcss-logo { 
  width: 40px; 
}

.tailwindcss-about { 
  width: 45px; 
}

#tools {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center; 
  align-items: center;
  gap: 1rem; 
  margin-top: 2rem;
}

.tool-icon {
  color: #9C4A57;
  transition: color 0.4s ease-in-out;
}

/* Projects Section */
.projects-container {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  gap: 2rem; 
}

.project-card {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease-in-out;
  width: 15rem;
}

.project-card img {
  width: 90%; 
  transition: all 0.3s ease; 
  cursor: pointer; 
  border-radius: 10px;
  border: 3px solid #d1d5db;
}

.project-card p {  
  padding: 0 1rem 1rem 1rem;
}

.more-projects {
  margin-top: 1.5rem;
  text-align: center;
}

.more-projects a {
  color: #d1d5db;
  transition: all 0.4s ease-in-out; 
}

/* Contact Section */
.contact-options {
  padding: 2rem;  
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  margin-bottom: 10rem;
}

.contact-options a {
  color: #d1d5db; 
  text-decoration: none;
  font-size: 1.2rem;
}

.email { 
  font-size: 2.25rem; 
  margin-bottom: 1rem;
}

/* Footer */
.footer-sm {
  position: fixed;
  bottom: 0; 
  width: 100vw;
  z-index: 1000;
  /* border-radius: 1.2rem 1.2rem 0 0; */
  text-align: center;
  padding: 1rem; 
  /* margin-top: 5rem; */
  background: #0f172a; 
  color: #d1d5db; 
  font-size: 0.1rem;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.5);
}

.footer-lg { 
  display: none; 
}

/* Styles for about-pokehub.html */

/* Header */
.project-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #0f172a;
    color: #d1d5db;
    padding: 2rem 1rem;
}

.project-header .header-content {
    margin-bottom: 1.5rem;
}

.project-header .project-title {
    font-family: "Fraunces", serif;
    font-size: 2.5rem;
    margin: 1rem 0;
    color: #14b8a6;
}

.project-header .project-subtitle {
    font-size: 1.2rem;
    width: 75%;
    margin: 0 auto;
}

.project-header .header-image img {
    width: 100%;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

/* Main Content */
.project-main {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
}

.project-section {
    margin-bottom: 2rem;
}

.section-title {
    font-family: "Fraunces", serif;
    font-size: 1.75rem;
    color: #9C4A57;
    margin-bottom: 1rem;
}

.section-text {
    font-size: 1rem;
    color: #d1d5db;
    line-height: 1.25;
}

.section-list {
    padding: 0;
    margin: 1rem 0;
}

.section-list li {
    font-size: 1rem;
    color: #d1d5db;
    margin-bottom: 0.5rem;
}

.project-link {
    color: #14b8a6;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

/* Tech Stack */
.tech-stack {
    display: flex;
    justify-content: start;
    align-items: end;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
}

.tech-item {
    text-align: center;
    color: #d1d5db;
}

.tech-item p {
    margin-top: 0.5rem;
    font-size: 0.9rem;
}

/* Footer */
.project-footer {
    text-align: center;
    padding: 1rem;
    background: #0f172a;
    color: #d1d5db;
    font-size: 0.9rem;
}

code {
    background: #334155;
    padding: 0.2rem 0.4rem;
    border-radius: 4px;
    font-family: "Courier New", Courier, monospace;
}

strong {
    color: #9C4A57;
}

.back-link {
    display: block;
    margin-top: 2rem;
    text-align: center;
}

.render-link {
    color: #d1d5db;
    transition: color 0.3s ease;
}

/* Tablet Styles */
@media screen and (min-width: 768px) {

}

/* Desktop Styles */
@media screen and (min-width: 1180px) {
  body {
  background: linear-gradient(145deg, #0f172a, #334155);
}

  .img-container { 
    display: none; 
  }

  .nav-list-lg { 
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
    padding: 1rem;
    transition: all 0.4s ease;
  }

  .nav-list-lg:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    border-radius: 10px;
    transform: scale(1.05);
  }

  .nav-list-sm { 
    display: none; 
  }

  .intro-text {
    display: block;
    margin: 0.75rem 0;
  }


  #content { 
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }

  #headshot-img { 
    height: 200px; 
    /* margin-top: 5rem; */
  }

  @keyframes gradientMove {
  0% { 
    background-position: 0% 50%; 
  }
  25% { 
    background-position: 50% 0%; 
  }
  50% { 
    background-position: 100% 50%; 
  }
  75% { 
    background-position: 50% 100%; 
  }
  100% { 
    background-position: 0% 50%; 
  }
}

  nav {
    align-items: center; 
    padding: 0 1.5rem;
    max-width: 50vw; 
    width: 25vw;
    background: linear-gradient(145deg, #334155, #3D7F7F, #4A3E73, #9C4A57, #0f172a);
    background-size: 400% 400%;
    animation: gradientMove 15s ease infinite;
  }

  .hero-home { 
    flex-direction: column; 
    gap: 0.3rem; 
  }
  .social-icons { 
    align-items: center;
    justify-content: center;
    flex-direction: row; 
    padding: 0.3rem 1rem;
    transition: all 0.4s ease-in-out;
  }

  .social-icons:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    border-radius: 50px;
    transform: scale(1.05);
  }

  .social-icons a { 
    padding: 5px 10px; 
    transition: all 0.4s ease-in-out;
  }

  .social-icons a:hover { 
    color: #0f172a;
 
  }

  #main-text { 
    text-align: center; 
  }

  .resume-link {
    font-size: 1.2rem; 
    color: #d1d5db; 
    text-decoration: none; 
    margin-top: 1rem;
    transition: all 0.3s ease-in-out;
  }

  .nav-list {  
    transform: none; 
  }

  .nav-item { 
    transition: all 0.4s ease-in-out; 
  }

  .nav-item:hover { 
    transform: scale(1.3); 
  }

  .nav-link {
    padding: 0;
    transition: all 0.4s ease-in-out;
  }

  .nav-link:hover {
    color: #0f172a;
  }
  
  #header-img {
    display: block;
    background: url("img/office.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  #about, #skills, #projects, #contact { 
    padding-top: 0; 
  }
  
  #about {
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
    justify-content: center; 
    align-content: center; 
    gap: 2rem; 
    padding: 0 2rem;
  }

  #about-img { 
    height: 90vh; 
    width: 100%;
    margin-top: 0;
  }

  .skills-cards {
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    justify-items: center; 
    align-items: center; 
  }

  .card:hover { 
  transform: translateY(-10px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  }

  .projects-container {
    flex-direction: row;
    padding: 2rem;
  }

  .project-card:hover { 
    transform: translateY(-10px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); 
  }

  .project-card img:hover { 
    border-color: #3D7F7F; 
    opacity: 0.7; 
  }

  .project-link { 
    font-size: 1.3rem; 
  }

  .project-link:hover { 
    color: #3D7F7F; 
    transform: scale(1.05); 
  }

  .more-projects {
    width: 50%;
    margin-top: 0;
  }

  .more-projects a:hover {
    color: #3D7F7F; 
  }

  .contact-options {
    margin-bottom: 0;
  }

  .contact-options a { 
    transition: all 0.4s ease-in-out; 
  }

  .contact-options a:hover { 
    color: #3D7F7F;
    text-decoration: underline; 
  }

  .main-content {
    scroll-snap-type: y mandatory; 
    overflow-y: scroll; 
    height: 100vh; 
    width: 100vw;
    scroll-behavior: smooth; 
    padding: 0;
  }
  .section {
    scroll-snap-align: start; 
    height: 100vh;
    display: flex; 
    align-items: center; 
    justify-content: center;
    padding: 0;
  }

  code {
    background: #0f172a;
  }

  .render-link:hover {
    color: #14b8a6;
  }

  .footer-sm { 
    display: none; 
  }
}
